{% extends 'myapp/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="mt-5">
        <h1 class="page-header">Books</h1>
        <button class="btn btn-primary mb-2" id="book-create">Add New Book</button>
  <table class="table" id="book-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Type</th>
        <th>Publication date</th>
        <th>Pages</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
        {% include 'includes/partial_book_list.html' %}
    </tbody>
  </table>

  <div class="modal fade" id="book-modal">
      <div class="modal-dialog">
          <div class="modal-content">
            
          </div>
      </div>
  </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('#book-create').click(function(){
                $.ajax({
                    url: 'book_create',
                    type: 'GET',
                    dataType: 'json',
                    beforeSend: function(){
                        $('#book-modal').modal('show');
                    },
                    success: function(data){
                        $('#book-modal .modal-content').html(data.html_form);
                    }
                    
                })
            });

            $("#book-modal").on('submit', '#book-create-form', function(){
                const form = $(this);
                $.ajax({
                    url: 'book_create',
                    type: form.attr('method'),
                    data: form.serialize(),
                    dataType: 'json',
                    success: function(data){
                        if(data.is_valid_form){
                            $("#book-table tbody").html(data.html_book_list);
                            $('#book-modal').modal('hide');
                        }
                        else{
                            $('#book-modal .modal-content').html(data.html_form);
                        }
                    }
                    
                });
                return false;
            });
        })
    </script>
{% endblock %}